*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

OPENWEATHER_API_KEY=796b2ffe49982b3d99a31e32d87ff3ef
GOOGLE_MAPS_API_KEY=AIzaSyCNvbZUQmHLWz_4mVYv7wX0YQPWGRl_XuM

